<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
  <!-- WCF client configuration -->
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:7876/AutoReservationService"
                binding="netTcpBinding"
                name="AutoReservationService"
                contract="AutoReservation.Common.Interfaces.IAutoReservationService"/>
    </client>
  </system.serviceModel>
</configuration>
